.main-container{
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    /* background-image: url('https://images.pexels.com/photos/18825491/pexels-photo-18825491/free-photo-of-man-in-a-costume-of-a-hindu-deity-sitting-on-the-floor.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'); */
}